<ion-content class="ion-padding signup-container">
  <ion-card class="signup-card">
    <ion-card-header class="signup-header">
      <ion-title class="ion-text-center signup-title">Sign Up</ion-title>
    </ion-card-header>

    <ion-card-content class="signup-content">
      <form #signupForm="ngForm" (ngSubmit)="signup()" novalidate>

        <ion-item lines="none">
          <ion-label position="floating">Full Name</ion-label>
          <ion-input type="text" [(ngModel)]="fullName" name="fullName" required class="input-field"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" required email class="input-field"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" required minlength="8" class="input-field"></ion-input>
        </ion-item>

        <ion-button expand="full" color="custom-red" type="submit" [disabled]="!signupForm.valid" class="signup-button">Sign Up</ion-button>

      </form>
      <div class="ion-text-center signup-link">
        <p>Already have an account? <a routerLink="/login">Login here</a></p>
      </div>
    </ion-card-content>
  </ion-card>

 
</ion-content>
