ion-card {
    margin-bottom: 20px;
  }
  
  ion-card-header {
    ion-title {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
  
  ion-list {
    margin-bottom: 20px;
  }
  
  ion-button {
    margin-top: 10px;
  }
  
  .ion-text-center {
    text-align: center;
    margin-top: 16px;
  
    a {
      color: #3880ff;
      text-decoration: underline;
    }
  }
  