ion-card {
    margin-bottom: 20px;
  }
  
  ion-card-header {
    ion-title {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
  
  ion-card-content {
    text-align: center;
  }
  
  ion-button {
    margin-top: 20px;
  }
  