.menu{
    position: absolute;
    top: 50%;
    left: 50%;
}
.getstarted{
    height: 100%;
    color: #ff6b6b;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    text-align:initial;
    font-weight: 600;
}
.getbutton{
    background-color: #ffffff;
    width:60%;
}